$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

$screen_footer_time: 0.5s;
$page_header_logo_delay: calc(#{$screen_footer_time} * 0.5);
$page_header_logo_time: 0.3s;
$page_header_nav_delay: calc(#{$screen_footer_time} * 0.7);
$page_header_nav_line_delay: calc(#{$screen_footer_time} * 0.95);
$page_header_social_delay: calc(#{$screen_footer_time} * 0.9);
$ctf: cubic-bezier(0.43, 0.98, 0.51, 0.95);
$bounce_tf: cubic-bezier(0.19, 1.34, 0.46, 1.39);
